.contenedor{
    display: flex;
    justify-content: center;
}

table{
    border-collapse: collapse;
    border: 2px solid gray;
    letter-spacing: 1px;
    font-size: 1.5rem;
    background-color: rgb(160, 160, 160);
    background-color: rgb(176, 176, 176);

}

th{
    border: 1px solid grey;
    padding: 10px;
    background-color: rgb(105, 105, 105);
}

td{
    border: 1px solid grey;
    padding: 10px;

}

h2{
    margin: 0;
    padding: 20px;
}

tr:hover{
    background-color: rgb(203, 200, 200);
}